body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image:url(table.png) ;
    background-size: cover;
    font-weight: bold;
    font-size: 30px;


}

h1{
    color: goldenrod;
    font-size: 60px;
}

p{
    color: white;
    font-size: 30px;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 260px;
    background: goldenrod;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom:2px;
}